
#mainTitle1{
    position: fixed;
    transform: translate(-50%, -250%);
    animation-name: mainTitle1;
    animation-duration: 1s;
    font-size: 5em;
}
@keyframes mainTitle1{
    from { transform: translate(-50%, -250%) }
    to { transform: translate(-50%, -250%) }
}
#mainTitleSmall1{
    position: absolute;
    transform: translate(-450%, -1010%);
    font-size: 2.2em;
    animation-name: mainTitleSmall1;
    animation-duration: 0.5s;
}
@keyframes mainTitleSmall1{
    from { transform: translate(-50%, -250%); font-size: 5em;}
    to { transform: translate(-450%, -1010%);  font-size: 2.2em; }
}

#mainTitle2{
    position: fixed;
    transform: translate(-50%, -50%);
    animation-name: mainTitle2;
    animation-duration: 1s;
    transform: translate(-47.5%, -240%);
    font-size: 5em;
}
@keyframes mainTitle2{
    from { transform: translate(-50%, -250%) }
    to { transform: translate(-47.5%, -240%); }
}
#mainTitleSmall2{
    position: absolute;
    transform: translate(-447.5%, -1000%);
    font-size: 2.2em;
    animation-name: mainTitleSmall2;
    animation-duration: 0.5s;
}
@keyframes mainTitleSmall2{
    from { transform: translate(-47.5%, -240%); font-size: 5em;}
    to { transform: translate(-447.5%, -1000%);  font-size: 2.2em; }
}

#mainTitle3{
    position: fixed;
    transform: translate(-50%, -50%);
    animation-name: mainTitle3;
    animation-duration: 1s;
    transform: translate(-45%, -230%);
    font-size: 5em;
}
@keyframes mainTitle3{
    from { transform: translate(-50%, -250%) }
    to { transform: translate(-45%, -230%); }
}
#mainTitleSmall3{
    position: absolute;
    transform: translate(-445%, -990%);
    font-size: 2.2em;
    animation-name: mainTitleSmall3;
    animation-duration: 0.5s;
}
@keyframes mainTitleSmall3{
    from { transform: translate(-45%, -230%); font-size: 5em;}
    to { transform: translate(-445%, -990%);  font-size: 2.2em; }
}

.onload{
    transform: none !important;
    transition: 1s;
}
.blob-container{
    display: flex;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;

    top: 50px;
    left: 0px;
    z-index: 1;
}
.categoryBlob{
    border-radius: 9px;
    width: 300px;
    height: 100px;
    background-color: rgb(93, 220, 159);
    
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
    margin-right: 5rem;
    
}
.categoryBlob:hover{
    border-radius: 15px;

}
.imageBlob{
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center ;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: 1s;
}
.imageBlob:hover{
    -webkit-filter: blur(2px);
    filter: blur(2px);
    transition: .4s ease-in-out;
    background-size: 90%;
    z-index: 4;
}

.categoryBlob h1{
    color: #f5f5f5;
    font-size: 30px;
    z-index: 0;
    position: absolute;
    transform: translate(10%, -275%);
    pointer-events: none;

}